{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<h1 class="tieudelog">Pay history</h1>
<div>
    {% for p in bills %}
    <form method="delete" action="{{ url_for('delete_bill', user_id=current_user.id, bill_id=p.id) }}">
        <div>Tên: {{p.name}}</div>
        <div>Email: {{p.email}}</div>
        <div>Số lượng người lớn: {{p.amount_big}}</div>
        <div>Số lượng trẻ em: {{p.amount_young}}</div>
        <div>Tổng tiền: {{p.total}}</div>
        <div class="index-btn-sign">
            <input type="button" onclick="deleteBill({{ p.id }})" class="btn btn-primary" value="Xóa">
        </div>
    </form>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>

{% endblock %}