<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class=" col-md-5 col-sm-4 col-xs-12">
        <div class="info-sgt-box">
          <h1>Tourism-Ten</h1>
          <p>Nhom 10 &copy; 2023</p>
        </div>
      </div>
      <div class="col-md-7 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="footerContent info-sgt-box">
              <h5>DỊCH VỤ</h5>
              <ul>
                <li>
                  <a class="link-level4-light" href="#">Tour du lịch</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Vé máy bay</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Thuê xe</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Mua Bảo hiểm du lịch</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="footerContent info-sgt-box">
              <h5>CHĂM SÓC KHÁCH HÀNG</h5>
              <ul>
                <li>
                  <a class="link-level4-light" href="#">Thẻ khách hàng</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Travel voucher</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Bảo hiểm du lịch</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Mua Bảo hiểm Covid</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="footerContent info-sgt-box">
              <h5>LIÊN HỆ</h5>
              <ul>
                <li>
                  <a class="link-level4-light" href="#">Giới thiệu</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Quy định bảo vệ</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Hướng dẫn mua tour</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Quy định thanh toán</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Chính sách giao nhận</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Quy định thanh toán</a>
                </li>
                <li>
                  <a class="link-level4-light" href="#">Quy định hủy phạt</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>