<div class="header">
    <div class="container-fluid top-header navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding">
                    <ul>
                        <li>
                            <a href="mailto:info@saigontourist.net">
                                <i class="fa fa-envelope"></i>
                                info@saigontourist.net
                            </a>
                        </li>
                        <li></li>
                        <li>
                            <a href="tel:1900 1808">
                                <i class="fa fa-phone"></i>
                                Hotline: 1900 1808
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 ">
                    <ul class="login-content">
                        <li>
                            <a href="/" class="login-href">
                                <i class="fas fa-map-marker-alt"></i>
                                Chọn điểm khởi hành
                            </a>
                        </li>
                        <li>
                            <a href="/" class="login-href">
                                <i class="fas fa-arrow-right"></i>
                                Đăng nhập
                            </a>
                        </li>
                        <li>
                            <a href="/" class="login-href">
                                <i class="flag-english"></i>
                                Vietnamese
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-md ">
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ url_for('product_list') }}">TOUR DU LỊCH</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href=#>DỊCH VỤ</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href=#>LIÊN HỆ</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>